{% load static %}
{% block content %}
<div class="auth-container">
     <img src="{% static 'images/spotify_icon.png' %}" alt="Spotify Wrapped Icon" class="logo">
    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            {{ form.username.label_tag }}<br>
            {{ form.username }}
        </div>

        <div class="input-group">
            {{ form.email.label_tag }}<br>
            {{ form.email }}
        </div>

        <div class="input-group">
            {{ form.password1.label_tag }}<br>
            {{ form.password1 }}
        </div>

        <div class="input-group">
            {{ form.password2.label_tag }}<br>
            {{ form.password2 }}
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p class="auth-prompt">
        <a href="{% url 'login' %}">Log in</a>
    </p>
</div>
{% endblock %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
